## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

namespace
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03 11:00:00,2
1,4,1,2012-07-03 08:00:00,2
2,6,0,2012-07-03 18:00:00,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
select * from facilities where membercost > 0

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,Tennis Court 1,5.0,25.0,10000,200
1,Tennis Court 2,5.0,25.0,8000,200
4,Massage Room 1,9.9,80.0,4000,3000
5,Massage Room 2,9.9,80.0,4000,3000
6,Squash Court,3.5,17.5,5000,80

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
select count(*) from facilities where membercost > 0

count(1)
5

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
select facid, name, membercost, monthlymaintenance from facilities where membercost < (0.2 * monthlymaintenance)

facid,name,membercost,monthlymaintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
2,Badminton Court,0.0,50
3,Table Tennis,0.0,10
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80
7,Snooker Table,0.0,15
8,Pool Table,0.0,15

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities where facid IN (1,5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
select name, monthlymaintenance, if(monthlymaintenance > 100, "expensive", "cheap") from facilities

name,monthlymaintenance,"(IF((monthlymaintenance > 100), expensive, cheap))"
Tennis Court 1,200,expensive
Tennis Court 2,200,expensive
Badminton Court,50,cheap
Table Tennis,10,cheap
Massage Room 1,3000,expensive
Massage Room 2,3000,expensive
Squash Court,80,cheap
Snooker Table,15,cheap
Pool Table,15,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql
select firstname, surname from members order by joindate desc

firstname,surname
Darren,Smith
Erica,Crumpet
John,Hunt
Hyacinth,Tupperware
Millicent,Purview
Henry,Worthington-Smyth
David,Farrell
Henrietta,Rumney
Douglas,Jones
Ramnaresh,Sarwin
Joan,Coplin
Anna,Mackenzie
Matthew,Genting
David,Pinker
Timothy,Baker
Florence,Bader
Jack,Smith
Jemima,Farrell
Anne,Baker
David,Jones
Charles,Owen
Ponder,Stibbons
Tim,Boothe
Nancy,Dare
Burton,Tracy
Gerald,Butters
Janice,Joplette
Tim,Rownam
Tracy,Smith
Darren,Smith
GUEST,GUEST

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
select distinct M.firstname, F.name from bookings B join facilities F on B.facid = F.facid and F.name LIKE "Tennis Court %" join members M order by M.firstname

firstname,name
Anna,Tennis Court 2
Anna,Tennis Court 1
Anne,Tennis Court 2
Anne,Tennis Court 1
Burton,Tennis Court 2
Burton,Tennis Court 1
Charles,Tennis Court 1
Charles,Tennis Court 2
Darren,Tennis Court 1
Darren,Tennis Court 2
David,Tennis Court 1
David,Tennis Court 2
Douglas,Tennis Court 1
Douglas,Tennis Court 2
Erica,Tennis Court 1
Erica,Tennis Court 2
Florence,Tennis Court 2
Florence,Tennis Court 1
GUEST,Tennis Court 1
GUEST,Tennis Court 2
Gerald,Tennis Court 1
Gerald,Tennis Court 2
Henrietta,Tennis Court 1
Henrietta,Tennis Court 2
Henry,Tennis Court 1
Henry,Tennis Court 2
Hyacinth,Tennis Court 2
Hyacinth,Tennis Court 1
Jack,Tennis Court 2
Jack,Tennis Court 1
Janice,Tennis Court 1
Janice,Tennis Court 2
Jemima,Tennis Court 2
Jemima,Tennis Court 1
Joan,Tennis Court 2
Joan,Tennis Court 1
John,Tennis Court 2
John,Tennis Court 1
Matthew,Tennis Court 1
Matthew,Tennis Court 2
Millicent,Tennis Court 2
Millicent,Tennis Court 1
Nancy,Tennis Court 2
Nancy,Tennis Court 1
Ponder,Tennis Court 1
Ponder,Tennis Court 2
Ramnaresh,Tennis Court 2
Ramnaresh,Tennis Court 1
Tim,Tennis Court 2
Tim,Tennis Court 1
Timothy,Tennis Court 2
Timothy,Tennis Court 1
Tracy,Tennis Court 2
Tracy,Tennis Court 1

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
select F.name, M.firstname, if(M.memid == 0, F.guestcost, F.membercost) as cost from bookings B join facilities F on B.facid = F.facid join members M on M.memid = B.memid where B.starttime LIKE "2012-09-14 %" and if(M.memid == 0, F.guestcost, F.membercost) > 30 order by (cost) DESC

name,firstname,cost
Massage Room 1,GUEST,80.0
Massage Room 1,GUEST,80.0
Massage Room 1,GUEST,80.0
Massage Room 2,GUEST,80.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql
select F.name, if(B.memid == 0, F.guestcost , F.membercost) as cost from bookings B, facilities F where B.facid = F.facid and B.starttime LIKE "2012-09-14 %" and if(B.memid == 0, F.guestcost , F.membercost) > 30 and B.memid IN (select M.memid from members M)

name,cost
Massage Room 1,80.0
Massage Room 1,80.0
Massage Room 1,80.0
Massage Room 2,80.0

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
create view table_one as select F.name, if(M.memid == 0, F.guestcost, F.membercost) as cost from bookings B join facilities F on B.facid = F.facid join members M on M.memid = B.memid

In [0]:
%sql
create view table_two as select name, sum(cost) as revenue from table_one group by name

In [0]:
%sql
select * from table_two where revenue < 1000 sort by revenue

name,revenue
Table Tennis,90.0
Snooker Table,115.0
Pool Table,265.0
Badminton Court,604.5